.backgroundContainer {
    background-image: url('../../public/background.gif');
    background-size: cover;
    background-position: center;
    height: 76.7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2em;
    border-radius: 8px;
    background-color: #c1c3c781;
    width: 396px;
}

.buttonsContainers {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

input {
    background-color: wheat;
    padding: 16px;
    font-size: 16px;
    color: #000;
}

input::placeholder {
    color: #a0a0a0;
    opacity: 1;
}

button {
    font-size: 16px;
}

button.login {
    background-color: #1877F2;
    height: 40px;
    width: 100%; /* Ajusta o botão para preencher o contêiner */
    color: white; /* Cor do texto do botão */
}

button.register {
    background-color: #36A420;
    height: 40px;
    width: 80%;
    color: white;
}

.passwordContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.showPasswordButton {
    position: absolute;
    right: 20px;
    top: 80px;
    background: none;
    border: none;
    color: rgb(185, 174, 174);
    cursor: pointer;
    padding: 0;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}
.checkboxContainer input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.checkboxContainer label {
    font-size: 18px;
}

